@model List<Person>
@{
    ViewData["Title"] = "People";
}

<h1>People</h1>
<a asp-action="Create">Add a person to the list</a>

@*<table>
    <thead>
        <hr />
        <td> Id </td>
        <td>Name</td>
        <td>Phone number</td>
        <td>City name</td>

    </thead>
    <tbody>
        @foreach(People people in Model)
        {
            <tr>
                <td>@people.Name</td>
                <td>@people.PhoneNumber</td>
                <td>@people.CityName</td>
               <td>@Html.ActionLink("Details","Details","People",new {id= people.Id})</td>
            </tr>  
        }

    </tbody>
</table>*@

<div class="row">
    <div class="col-3">Name</div>
    <div class="col-3">PhoneNumber</div>
    <div class="col-3">City</div>
    </div>
@foreach (Person person in Model)
{
           <div class="col-3">@person.Name</div>
              <div class="col-3">@person.PhoneNumber</div>
              <div class="col-3">@person.City</div>

             <div>@Html.ActionLink("Details","Details","People", new {id = person.Id})</div> 

    //<partial name="_PeopleRow" model="person"></partial>

}
